<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>AdminHome page</title>
<link rel="stylesheet" th:href="@{/css/adminHome.css}">
</head>
<body>
	<section>
		<div class="container">
			<h1 class="main">Admin Home</h1>
			<a href="newSong">
				<button class="button" type="newsong">Add a new Song</button>
			</a> 
			<br >
			<br> 
			<a href="viewSongs">
			     <button class="button" type="viewsongs">View All Songs</button> 
			</a>
			<br>
			<br>
			<a href="createPlaylist">
			     <button class="button" type="createPlaylist">Create Playlist</button>
			</a>
			<br>
			<br> 
			<a href="viewPlaylists">
			     <button class="button" type="viewPlaylists">View All Playlists</button> 
			</a>
		</div>
	</section>
</body>
</html>