<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>CustomerHome Page</title>
<link rel="stylesheet" th:href="@{/css/customerHome.css}">
</head>
<body>
	<div class="one">

		<div th:unless="${isPremium}" class="non-premium">
			<h1 class="main">Customer home</h1>
			<a href="pay">
				<button class="button">Get Premium</button>
			</a> <br />
			<br> <a href="logout"><button class="button">Logout</button></a>
		</div>
	</div>
	
	<div class="two">

		<div th:if="${isPremium}" class="premium">
			
			
			<table>
				<thead>
					<tr id="header">
						<th>Name</th>
						<th>Artist</th>
						<th>Genre</th>
						<th>Play</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="song:${songs}">
						<td th:text="${song.name}"></td>
						<td th:text="${song.artist}"></td>
						<td th:text="${song.genre}"></td>
						<td><audio controls>
								<source th:src="${song.link}">
							</audio></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>