<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Display Playlist page</title>
<link rel="stylesheet" th:href="@{/css/displayPlaylists.css}">
<style type="text/css">
iframe{
height:100px;
width:500px;
}
</style>
</head>
<body>
<section>
<table border>
<thead>
<tr id="header">
<th>Name</th>
<th>Songs</th>
</tr>
</thead>
<tbody>
<tr th:each="plist:${allPlaylists}">
<td th:text="${plist.name}"></td>
<td><ul>
<li th:each="song : ${plist.songs}">
<span th:text="${song.name}"></span>
<audio controls><source th:src="${song.link}" ></audio>
</li>
</ul>
</tr>
</tbody>
</table>
</section>
</body>
</html>